<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @profile.ratings.empty? %>
    <%= render plain: "You do not have any ratings yet" %>
  <% else %>
    <% @profile.ratings.each do |r| %>
      <%= render plain: "#{r}" %>
    <% end %>
  <% end %>
</p>

<%= image_tag(@profile.image, width: 200) if @profile.image.attached? %><br>
<%# authorisation %>
<% if can? :update, @profile %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> 
<% end %> 
<% if current_user&.admin? %> |
  <%= link_to 'View all Profiles', profiles_path %> |
  <%= link_to 'Delete Profile', @profile, method: :delete, data: { confirm: 'Are you sure?' } %> 
  <% end %>