<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= collection_select(:listing, :category_id, Category.all, :id, :name ) %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= collection_select(:listing, :brand_id, Brand.all, :id, :name ) %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price, "Price per day: $" %>
    <%= form.text_field :price, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :year_of_manufacture %>
    <%= form.number_field :year_of_manufacture, min: 1900, max: DateTime.now.strftime('%Y').to_i %>
  </div>

  <%# radio button %>

  <div>
  <%= form.label "Is the item currently available?" %><br>
  <%= form.label :availability, "Yes", value: true %>
  <%= form.radio_button :availability, true, :checked => true, :value => true %>
  <%= form.label :availability, "No", value: false %>
  <%= form.radio_button :availability, false, :value => false %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
