<p id="notice"><%= notice %></p>

<%= image_tag(@listing.image, width: 250) if @listing.image.attached? %>

<p><i>listed <%= time_ago_in_words(@listing.created_at) %> ago by <%= link_to "#{Profile.find(@listing.lender_id).first_name}", profile_path(@listing.lender_id) %></i></p>


<p>
  <strong>Brand:</strong>
  <%= Brand.find(@listing.brand_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p> 
  <strong>Category:</strong> 
  <%= Category.find(@listing.category_id).name  %>
</p>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Year of manufacture:</strong>
  <%= @listing.year_of_manufacture %>
</p>

<p>
  <strong>Available to rent?</strong>
  <% if @listing.availability %>
    <%= render plain: "Yes" %>
  <% else %>
    <%= render plain: "Not at the moment" %>
  <% end %>
</p>
<%# show button if listing isn't currently being rented %>
<% if @listing.renter_id == nil && @listing.lender_id != current_user.id %>
  <a href="<% new_loan_path %>" class="btn btn-primary btn" role="button">Request to Loan</a><br>
<% end %>

<% if can? :update, @listing %><%= link_to 'Edit Listing', edit_listing_path(@listing)%> | <% end %> 
<% if can? :read, @listing %><%= link_to 'View all Listings', listings_path %><% end %>
<% if current_user&.admin? %> | <%= link_to 'Delete Listing', @listing, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>