<p id="notice"><%= notice %></p>

<%= image_tag(@listing.image, width: 250) if @listing.image.attached? %>

<p>
  <strong>Brand:</strong>
  <%= Brand.find(@listing.brand_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p> 
  <strong>Category:</strong> 
  <%= Category.find(@listing.category_id).name  %>
</p>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Year of manufacture:</strong>
  <%= @listing.year_of_manufacture %>
</p>

<p>
  <strong>Available to rent?</strong>
  <% if @listing.availability %>
    <%= render plain: "Yes" %>
  <% else %>
    <%= render plain: "No" %>
  <% end %>
</p>



<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
