<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @listing.short_description %>
</p>

<%= image_tag(@listing.image, width: 200) if @listing.image.attached? %>

<p>
  <strong>Long description:</strong>
  <%= @listing.long_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Year of manufacture:</strong>
  <%= @listing.year_of_manufacture %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @listing.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @listing.end_date %>
</p>

<p> 
  <% <strong>Category:</strong> %>
  <%# <%= @listing.category_id  %> %>
</p>

<p>
  <strong>Brand:</strong>
  <%# <%= @listing.brand_id %> %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
