<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @loan.listing_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @loan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @loan.end_date %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= number_to_currency(@loan.total_cost) %>
</p>

<p><i>loaned <%= time_ago_in_words(@loan.created_at) %> ago from <%= link_to "#{@lender.first_name}", profile_path(@lender) %></i></p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
