<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @loan.listing_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @loan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @loan.end_date %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @loan.total_cost %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
