<!DOCTYPE html>
<html>
  <head>
    <title>Borrows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# navbar on every page %>
    <%= render 'shared/navbar' %>
  <%# only show notice and alert if there is one, hide otherwiser %>
    <% if notice %> 
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p> 
    </div>
    <% elsif alert %>
    <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <%# if user is signed in, welcome them %>
    <% if user_signed_in? %>
        <p id="current_user">Logged in as <strong><%= "#{current_user.email}"%></strong></p>
    <% end %>
    <%# wrap main page content inside bootstrap 'container' %>
    <div class="container" id="main">
      <%= yield %>
    </div>
    <%# show footer on every page %>
      <%= render 'shared/footer' %>   
  </body>
</html>
