<!DOCTYPE html>
<html>
  <head>
    <title>SynthFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %> 
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p> 
    </div>
    <% elsif alert %>
    <div id="notice_wrapper">
      <p class="alert"><%= alert %></p>
  </div>
    <% end %>

    <%= render 'shared/navbar' %>
    <% if user_signed_in? %> 
      <p>Logged in as: <strong><%= "#{current_user.email}"%></strong></p>
    <% end %>
    
    <div class="container" id="main">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>   
  </body>
</html>
